@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
  font-family: "alata", cursive;
}

h1 {
  font-size: clamp(2rem, 10vw, 18.75rem);
  font-family: "Vina Sans", cursive;
  padding-left: 5%;
}

h2 {
  font-size: clamp(1rem, 5vw, 2rem);
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50; /* Asegúrate de que el nav esté sobre otros elementos */
  }
  