@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
  font-family: "alata", cursive;
}

h1 {
  font-size: clamp(2rem, 12vw, 18.75rem);
  font-family: "Vina Sans", cursive;

}

h2 {
  font-size: clamp(1.75rem, 6vw, 3.5rem); /* 28px - 56px */
  /* font-size: clamp(24px, 4vw, 40px); */
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2.75rem); /* 24px - 44px */
  color: #D8D8D8;
}

h4 {
  /*font-size: clamp(1.25rem, 3vw, 2rem); /* 20px - 32px */
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #D8D8D8;
  letter-spacing: 1.0px;
  font-weight: bold;
}

p{
  font-size: clamp(16px, 2.5vw, 24px);
}

.p-cards{
  font-size: clamp(0.75rem, 3vw, 1rem);

}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50; /* Asegúrate de que el nav esté sobre otros elementos */
  }
  

  .btn-primary {
    @apply  my-10 ml-[2%] bg-negroRosfin text-white font-bold py-3 px-8 rounded-lg shadow-lg hover:bg-opacity-90 transition ease-in-out duration-300 flex justify-center items-center;
    letter-spacing: 1px;
}

  .btn-primary img {
 height: 24px;
 padding-right: 12px;
}

@media (max-width: 400px) {
  #heroDistri {
    flex-direction: column;
    text-align: center;
  }

  #heroDistri > div:first-child {
    order: 2;
  }

  #heroDistri > div:last-child {
    order: 1;
  }

  #heroDistri img {
    --tw-translate-x: 0 !important;
    padding-top: 140px;
    width: 200px; /* o 60% si preferís */
  }

  #heroDistri h1,
  #heroDistri h3 {
    margin: 0 auto;
  }

  #heroDistri button {
    margin-left: auto;
  }
}


/* iPad (768x1024) */
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

/* Macbook Pro / PC MID (1440x900 y 1440x1024) */
@media (min-width: 1440px) and (max-width: 1535px) {
  h1 {
    font-size: 6rem;
  }

  h3 {
    font-size: 2.25rem;
  }
}

/* PC LG (1920x1080) */
@media (min-width: 1920px) {
  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.75rem;
  }
}
