---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { images } from "../data/galeria.json";
import AOSInitializer from "../elementos/AOSInitializer.jsx";
import ProyectosPersonalizados from "../components/ProyectosPersonalizados.astro";
import BotonesPopups from "../elementos/BotonesPopups.jsx";
---

<Layout>
  <Header categoriaActiva={true} />
  <AOSInitializer client:load />

  <section class="pt-32 pb-20 px-6 bg-blancoRosfin min-h-screen w-full flex flex-col items-center">
    <h2 class="text-center text-verdeRosfin mb-8">Galería de Trabajos</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 max-w-7xl mx-auto">
      {images.map((img, index) => (
        <img
          src={img.src}
          alt={img.alt}
          class="rounded-lg shadow-lg object-cover w-full h-60 hover:scale-105 transition-transform duration-300"
          data-aos="fade-up"
          data-aos-delay={index * 100}
        />
      ))}
    </div>

    <ProyectosPersonalizados />


    <div class="w-full max-w-4xl bg-[#343131] text-white rounded-xl mt-16 p-8 flex flex-col md:flex-row items-center justify-between gap-6 shadow-lg">
      <!-- Texto -->
      <div class="text-center md:text-left">
        <h3 class="text-2xl sm:text-3xl font-semibold mb-2">Busca los productos que necesites</h3>
        <p class="text-sm sm:text-base text-gray-200">
          Potenciá tus proyectos con nuestra amplia gama de productos.
        </p>
      </div>
    
      <!-- Botón -->
      <BotonesPopups
      texto="Ir a categorías"
      color="bg-naranjaRosfin"
      icono={"" as any}
      funcion="iraHome"
      client:load
  />
    
    
    
    </div>
  </section>
</Layout>
