---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SobreNosotros from "../components/SobreNosotros.astro";
import Carrusel from "../components/Carrusel.astro";
import ProyectosPersonalizados from "../components/ProyectosPersonalizados.astro";
import NuestrosProductos from "../components/NuestrosProductos.astro";
import GaleriaHome from "../components/GaleriaHome.astro";
---

<Layout>
	<Header />
	<Hero />
	<SobreNosotros />
	<Carrusel />
	<ProyectosPersonalizados />
	<NuestrosProductos />
	<GaleriaHome />
</Layout>

<button
	onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
	class="fixed bottom-6 right-6 z-50 bg-verdeRosfin hover:bg-[#313a2d] text-white px-4 py-2 rounded-full shadow-lg hover:bg-verdeRosfinDark transition-all duration-300 border-2 border-naranjaRosfin"
	aria-label="Volver arriba"
>
	↑
</button>

<script is:inline>
	window.addEventListener("DOMContentLoaded", () => {
		if (localStorage.getItem("scrollToCategoria")) {
			localStorage.removeItem("scrollToCategoria");
			const target = document.getElementById("CategoriaProd");
			if (target) {
				target.scrollIntoView({ behavior: "auto" }); // instantáneo
				// Opcional: remover el hash si queda
				history.replaceState(null, null, window.location.pathname);
			}
		}
	});
</script>
