---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SobreNosotros from "../components/SobreNosotros.astro";
import Carrusel from "../components/Carrusel.astro";
import ProyectosPersonalizados from "../components/ProyectosPersonalizados.astro";
import NuestrosProductos from "../components/NuestrosProductos.astro";
import GaleriaHome from "../components/GaleriaHome.astro";
---

<Layout>
	<Header />
	<Hero />
	<SobreNosotros />
	<Carrusel />
	<ProyectosPersonalizados />
	<NuestrosProductos />
	<GaleriaHome />
</Layout>


<button 
  onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
  class="fixed bottom-6 right-6 z-50 bg-verdeRosfin text-white px-4 py-2 rounded-full shadow-lg hover:bg-verdeRosfinDark transition-all duration-300"
  aria-label="Volver arriba"
>
  ↑
</button>


<script is:inline>
	window.addEventListener("DOMContentLoaded", () => {
		const hash = window.location.hash;
		if (hash) {
			const target = document.querySelector(hash);
			if (target) {
				setTimeout(() => {
					target.scrollIntoView({ behavior: "smooth" });
				}, 200); // Espera leve para asegurarse de que el DOM esté cargado
			}
		}
	});
</script>
