---
import HeroCards from "../../elementos/HeroCards.jsx";
type Props = {};
const {} = Astro.props;
---

<div class="hero-container flex justify-center items-center flex-col">
    <section class="w-full h-auto flex justify-center items-center">
        <div class="w-full h-full flex flex-col items-start px-12 pt-[5%]">
            <h1 class= "text-blancoRosfin h1-hero">ROSFIN S.A.</h1>
            <h3 class=" text-blancoRosfin h3-hero text-left pr-[20px]">Desde <span class="text-naranjaRosfin">1957</span> creando <span class="text-naranjaRosfin">soluciones de hierro.</span>
            </h3>
            <button style="margin-left: 5%;" class="btn-primary">Cotiza tu proyecto</button>
        </div>

        <div class="w-full h-full relative overflow-hidden flex justify-center items-center">
            <img class="logo-hero translate-x-2/4" src="/img/logo.svg" alt="" />
        </div>
    </section>

    <div
        class="w-full relative bottom-4 h-auto flex justify-center items-center gap-8 text-blancoRosfin flex-wrap">
        <HeroCards client:visible />
    </div>
</div>

<style>
    .hero-container {
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-color: #4b5945;
        background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    }

    .h3-hero {    
        padding-left: 5%;
    }

    .logo-hero {
        width: clamp(600px, 40vw, 1135px);
        height: auto;
    }


</style>
