---
import HeroCards from '../../elementos/HeroCards.jsx'
type Props = {};
const {} = Astro.props;
---

<div class="hero-container flex justify-center items-center flex-col">
    <section class="w-full h-full flex justify-center items-center"> 
        <div class="bg-verdeRosfin w-full h-full flex flex-col items-start px-12 pt-20">
            <h1 class="text-red text-blancoRosfin h1-hero">ROSFIN S.A.</h1>
            <h2 class="font-alata text-blancoRosfin h2-hero text-left "> Desde <span class="text-naranjaRosfin">1957</span> creando <span class="text-naranjaRosfin">soluciones de hierro.</span></h2>
            <button class="btn-primary">Cotiza tu proyecto</button>

        </div>
    
        <div class="bg-verdeRosfin w-full h-full flex justify-center relative overflow-hidden pt-20">
            <img class="logo-hero absolute right-0 translate-x-1/2" src="/img/logo.svg" alt=""/>
        </div>
    </section>


    <div class="w-full h-[300px] flex justify-center items-center absolute bottom-0 gap-6 text-blancoRosfin ">
        <HeroCards />
    </div>
</div>




<style>
    .hero-container {
        width: 100%;
        height: 100vh;
    }

    .h1-hero {
        font-size: clamp(2rem, 10vw, 18.75rem);
        font-family: "Vina Sans", cursive;
        padding-left: 5%;
    }

    .h2-hero {
        font-size: clamp(1rem, 5vw, 2rem);
        padding-left: 5%;
    }

    .logo-hero {
        width: clamp(300px, 40vw, 1135px);
        height: auto;
    }

    .btn-primary {
        @apply my-10 ml-[5%] bg-negroRosfin text-white font-bold py-3 px-8 rounded-lg shadow-lg hover:bg-opacity-90 transition ease-in-out duration-300;
        
    }
</style>









