---
import CardCategorias from "../../elementos/CardCategorias";
import AOSInitializer from "../../elementos/AOSInitializer.jsx";
---

<AOSInitializer client:load />

<div class="w-full min-h-screen flex flex-col items-center pb-10 seccionPattern">
    <h2 data-aos="fade-right" class="text-center px-10 text-verdeRosfin">
      Catálogo de Productos
    </h2>
    <p data-aos="fade-right"  class="text-center px-80 pt-5 text-verdeRosfin">
      Calidad y precisión para tus proyectos. Explora nuestras categorías y encuentra justo lo que necesitas. ¡Descúbrelo ahora!
    </p>
  
    <!-- Contenedor de Cards -->
    <div class="w-full max-w-[900px] h-auto flex flex-wrap gap-5 mt-8 p-4">
      <CardCategorias />
    </div>
  </div>
  

  <style>
    .seccionPattern {
      background-image: url('/img/pattern.svg');
      background-repeat: repeat;
      background-size: 100px; /* O ajusta a 'contain', 'auto', etc., según prefieras */
      background-position: center;
    }
  </style>
  