---
import CardProyectos from "../elementos/CardProyectos.jsx";
import AOSInitializer from "../elementos/AOSInitializer.jsx";
import BotonesPopups from "../elementos/BotonesPopups.jsx";
---

<AOSInitializer client:load />

<div class="flex justify-center items-center flex-col pt-10 px-5 bg-blancoRosfin">
  <h2 class="text-center lg:text-left px-5 lg:px-10 text-verdeRosfin">
    Proyectos Personalizados a tu Medida
  </h2>
  <p class="text-center lg:text-left px-5 lg:px-10 pt-5 text-verdeRosfin">
    Transformamos tus ideas en realidad. Cada proyecto es único y merece una solución personalizada que se ajuste perfectamente a tus necesidades.
  </p>

  <div class="w-full flex justify-center items-center py-5">
    <CardProyectos />
  </div>

  <div class="w-full flex items-center justify-center py-10">
    <BotonesPopups client:load />

  </div>
</div>
