---
import CardProyectos from "../elementos/CardProyectos.jsx";
import AOSInitializer from "../elementos/AOSInitializer.jsx";
import BotonesPopups from "../elementos/BotonesPopups.jsx";
---

<AOSInitializer client:load />

<section id="Personalizados" class="flex justify-center items-center flex-col pt-10 px-5 bg-blancoRosfin">
  <h2 class="text-center lg:text-left px-5 lg:px-10 text-verdeRosfin">
    Proyectos Personalizados a tu Medida
  </h2>
  <p class="text-center lg:text-left px-5 lg:px-10 pt-5 text-verdeRosfin">
    Transformamos tus ideas en realidad. Cada proyecto es único y merece una solución personalizada que se ajuste perfectamente a tus necesidades.
  </p>

  <div class="w-full flex justify-center items-center py-5">
    <CardProyectos />
  </div>

  <div class="w-full flex flex-col sm:flex-row items-center justify-center py-10 gap-4 sm:gap-x-8">
    <BotonesPopups
    texto="Contactar"
    color="bg-negroRosfin"
    icono={"/icons/phone.svg"as any} 
    funcion="modalContacto"
    client:load
  />

    <BotonesPopups
      texto="Presupuesto"
      color="bg-negroRosfin"
      icono={"/icons/calcu.svg"as any}
      funcion="modalPresupuesto"
      client:load
    />

  </div>
</section>
