---
import "aos/dist/aos.css";
import SobreNosotrosCards from "../elementos/SobreNosotrosCards";
import NuestrosValores from "../elementos/NuestrosValores";
import AOSInitializer from "../elementos/AOSInitializer";
---

<AOSInitializer client:load />

<section id="Sobrenosotros" class="bg-blancoRosfin overflow-x-hidden">
  <div class="w-full max-w-screen-xl mx-auto flex flex-col lg:flex-row pt-10 px-4 sm:px-10">
    <!-- Bloque de texto -->
    <div class="flex-1 order-1 lg:order-1 flex flex-col items-center justify-center">
      <h2 data-aos="fade-right" class="text-start text-verdeRosfin w-full">
        Nuestra Historia de Excelencia
      </h2>
      <p class="text-start pt-5 text-verdeRosfin w-full">
        Con más de 60 años de experiencia en la industria metalúrgica, nos hemos
        consolidado como líderes en la fabricación de productos metálicos de alta
        calidad. Nuestra dedicación a la excelencia y la innovación nos ha permitido
        crecer y evolucionar, manteniendo siempre los más altos estándares de calidad.
        Utilizamos tecnología de vanguardia y contamos con un equipo altamente
        calificado para garantizar que cada proyecto cumpla con las especificaciones
        más exigentes del mercado actual.
      </p>
    </div>

    <!-- Bloque de tarjetas -->
    <div class="flex-1 order-2 lg:order-2 flex flex-col items-center mt-10 lg:mt-0">
      <div class="w-full flex justify-center items-center">
        <SobreNosotrosCards />
      </div>
    </div>
  </div>

  <!-- Valores -->
  <div class="w-full max-w-screen-xl mx-auto mt-20 px-4 sm:px-10">
    <h2 data-aos="fade-left" class="text-start text-verdeRosfin mb-6">Nuestros Valores</h2>
    <div class="w-full h-full flex flex-col md:flex-row justify-center items-center gap-4">
      <NuestrosValores />
    </div>
  </div>

  <style>
    section#Sobrenosotros p {
      font-size: clamp(16px, 2.5vw, 24px);
    }
  </style>
</section>
