---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Rosfin Metalúrgica S.A. - Fabricación y venta de productos de metalurgia para múltiples industrias. Calidad, compromiso y soluciones a medida." />


    
    <link rel="icon" type="image/svg+xml" href="/img/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rosfin Metalurgica S.A</title>
  </head>
  <body class="w-full ">

    <slot />
  </body>
  <Footer/>
</html>

<style>
  
</style>
